@media screen and (min-width:400px){
    body{
        background-color: red;
    }
    p{
        font-size: 4rem;
    }
}
@media screen and (min-width:401px)and (max-width:760px) {
    body{
        background-color: green;
    }
    p{
        font-size: :4rem;
    }
}

@media screen and (min-width:761px)and (max-width:1024px) {
    body{
        background-color:peru;
    }
    p{
        font-size: :4rem;
    }
}