*{
    margin: 0px;
}
.parent{
    background-image:url("https://images.squarespace-cdn.com/content/v1/5f6effe2de91535318dd74a3/533f1221-9e14-402c-ad9a-c730e0c7f39c/IMG_8502_2.jpg?format=1500w");
height: 100vh;

}



.parent1{
  
   background-color: transparent;
    width: 100%;
        color: black;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 70px;
       
        /* background-color: red;       */
    /* background-image:url("https://images.squarespace-cdn.com/content/v1/5f6effe2de91535318dd74a3/533f1221-9e14-402c-ad9a-c730e0c7f39c/IMG_8502_2.jpg?format=1500w"); */
    }
    .parent11{
        display: flex;
        justify-content: space-around;
        margin-right:70%;
        gap: 25px;
        
    }


.child-1{
     margin-left: 75%;
     justify-content: space-evenly; 
     font-size: x-large;  
}


    .child-2{
        display: flex;
        justify-content: space-around;
       margin-left: 95%;
      gap: 25px; 
        
    }
    /* .cont{
        border-top: 0cap;
        border-radius: 4px;
    } */


    .btn5{
        /* font-size: medium;
        padding: 8px 16px; */
        text-decoration: none;
        border-top: 0cap;
        border-radius: 4px;
        background-color: transparent;
        /* margin-left: 15px;
        height: 5%;
        margin-bottom: 90%; */
    }


    .child-3{
margin-top:18% ;
font-size: x-large;
color: black;
    }

    .btn{
        font-size: medium;
        padding: 8px 16px;
        text-decoration: none;
        border-top: 0cap;
        border-radius: 4px;
        background-color: transparent;
        margin-left: 15px;
    }




/* 
   .part {
      background-image: url("https://images.squarespace-cdn.com/content/v1/5f6effe2de91535318dd74a3/533f1221-9e14-402c-ad9a-c730e0c7f39c/IMG_8502_2.jpg?format=1500w");
      height: 100%;
       width: 100%; 
  } 

   .navbar {

      display: flex;
      justify-content: center;
      align-items: center;
  } 

  .head {

       margin-left: 200px; 
      font-size: 2.5rem;
      display: flex;
      justify-content: space-evenly;
      align-items: center;

  } 

   .part1 {
      display: flex;
      gap: 2rem;
       margin-top: 25px; 

  } 

  .p1 {
      display: inline;
      font-size: larger;
  }

  .p2 {
      display: inline;
  }

  .p3 {
      display: inline;
      font-size: larger;
  }


  .part2 {
      display: inline;
      margin-left: 35%; 
      margin-top: 25px;
      font-size: x-large;
      font-family: 'Times New Roman', Times, serif;
      font-weight: 600;

  } 

   .part3 {
      display: flex;
      margin-left: 18%;
      padding-top: 20px;
      gap: 1rem;

  }

  .p4 {
      display: inline;
  }

  .p5 {
      display: inline;
  } 

   .partA
{
    background-image: url("https://images.squarespace-cdn.com/content/v1/5f6effe2de91535318dd74a3/533f1221-9e14-402c-ad9a-c730e0c7f39c/IMG_8502_2.jpg?format=1500w")
     /* height:100vh;   */


   .part4 {
      margin-top: 15%;
      font-size: x-large;
      font-family: 'Times New Roman', Times, serif;
      font-weight: 600;
      background-image: url("https://images.squarespace-cdn.com/content/v1/5f6effe2de91535318dd74a3/533f1221-9e14-402c-ad9a-c730e0c7f39c/IMG_8502_2.jpg?format=1500w") 

  } 

   .part4 {
      background: none;
  }   */



   .second-phase {
padding-top: 0;
      background-color: rgba(253, 248, 235, 0.897);
       height: 80vh; 

  } 
 

  .fproducts {
      padding: 60px 0px 0px 40px
  }

   .third-phase {
      display: flex;
      gap: 6rem;
      justify-content: space-around;
      /* margin-top: 105px; */
      height: 263px;
      background-color: rgba(253, 248, 235, 0.897);
  } 

  .fourth-phase {
      background-color: rgba(253, 248, 235, 0.897);
      /* height: 60vh; */
      /* margin-top: 355px; */
      padding-top: 30%;
      display: flex;
      justify-content: center;
  }


   /* .fourth-phase > img{
    margin-top: 30%;
    margin-bottom: 70%;
  } 

  .fifth-phase {
    background-color: rgba(253, 248, 235, 0.897);

  } */

  /* .fifth-phase2 { */
      /* padding-top: 50px; */
       /* margin-left: 10%; 
      gap: 0.2rem; */

  

  /* .aaa{
    
        font-size: medium;
        padding: 8px 16px;
        text-decoration: none;
        border-top: 0cap;
        border-radius: 4px;
        background-color: transparent;
        margin-left: 15px;
    
    padding-top: 30%;
    
  }
  .btn1{
    font-size: medium;
    padding: 8px 16px;
    text-decoration: none;
    border-top: 0cap;
    border-radius: 4px;
    background-color: transparent;
    margin-left: 15px;
    margin-top: 2%;
} */


 
/*   

  .f-phase1 {
    display: flex;
      margin-left: 60%;
      width: 100px;
      /* height: 150vh; */
      /* margin-top: 5px;
      padding-right: 20%;
  } */


  /* .bbb{
    
    font-size: medium;
    padding: 8px 16px;
    text-decoration: none;
    border-top: 0cap;
    border-radius: 4px;
    background-color: transparent;
    margin-left: 15px;

padding-top: 30%;

} */ 
/* .btn2{
font-size: medium;
padding: 8px 16px;
text-decoration: none;
border-top: 0cap;
border-radius: 4px;
background-color: transparent;
margin-left: 15px;
margin-top: 2%;
} */







/* 

  .f-phase2 {
      margin-left: 4%;
      width: 100px;
      height: 150vh;
      margin-top: 5px;
  }











  .f-phase3 {
      margin-left: 60%;
      width: 100px;
      height: 150vh;
      margin-top: 5px;
  }

  .fp1 {
      font-size: x-large;
      font-weight: 500; */
      /* position: relative;
  margin-top: 30px;
  margin-left: 5px; */

  /* }

  .fp2 {
      font-size: x-large;
      font-weight: 500;

  }

  .fp3 {
      font-size: x-large;
      font-weight: 500;

  }

  .fp4 {
      font-size: x-large;
      font-weight: 500;

  } */ 



  .content1 {
    display: flex;
    flex-wrap: wrap;
     justify-content: center;
    
    gap: 18px;

    background-color: rgba(253, 248, 235, 0.897); 




} 


.card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
   height: 90vh;
width: 35%;
  
    
    
    
        /* border: 2px solid black; */
        padding: 10px; 
        text-align:center; 
    
}





.card-11>img {
    height: 90vh;
     width: 80vw;
}
.card-12{
    font-size: larger;
    padding-top: 20%;
    height: 90vh;
    width: 34vw; 
}
.btn1{
    font-size: medium;
    padding: 8px 16px;
    text-decoration: none;
    border-top: 0cap;
    border-radius: 4px;
    background-color: transparent;
    margin-left: 15px;
    height: 5%;
    margin-bottom: 90%;
}
.card-13{
    font-size:x-large;
    padding-top: 20%;
    height: 90vh;
    width: 34vw;
}



.btn2{
    font-size: medium;
    padding: 8px 16px;
    text-decoration: none;
    border-top: 0cap;
    border-radius: 4px;
    background-color: transparent;
    margin-right: 30px;
    height: 5%;
    margin-bottom:99%;
}

.card-14>img {
    height: 90vh;
    width: 80vw;
}

.card-15>img {
    height: 90vh;
    width: 80vw;
}
.card-16{
    font-size:x-large;
    padding-top: 20%;
    height: 90vh;
    width: 34vw; 
}



.btn3{
    font-size: medium;
    padding: 8px 16px;
    text-decoration: none;
    border-top: 0cap;
    border-radius: 4px;
    background-color: transparent;
    margin-right: 65px;
    height: 5%;
    margin-bottom: 99%;
}
.card-17{
    font-size: x-large;
    padding-top: 20%;
    height: 90vh;
     width: 34vw; 
}
.btn4{
    font-size: medium;
    padding: 8px 16px;
    text-decoration: none;
    border-top: 0cap;
    border-radius: 4px;
    background-color: transparent;
    margin-left: 15px;
    height: 5%;
    margin-bottom: 99%;
}

.card-18>img {
    height: 90vh;
     width: 80vw;
}





















 .imglast {
      background-color: rgba(253, 248, 235, 0.897);
      display: flex;
      justify-content: space-around;
      height: 85vh;
  }








    .content {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 20px;
      gap: 18px;

      background-color: rgba(253, 248, 235, 0.897);




  }

  .card-1>img {
      height: 40vh;
      width: 260px;
  } 

   .card-1{
height: 50vh;
width: 25vw;
} 

  .card-2>img {
      height: 40vh;
      width: 260px;
  }

  .card-3>img {
      height: 40vh;
      width: 260px;
  }

  .card-4>img {
      height: 40vh;
      width: 260px;
  }

  .card-5>img {
      height: 40vh;
      width: 260px;
  }

  .card-6>img {
      height: 40vh;
      width: 260px;
  }

  .card-7>img {
      height: 40vh;
      width: 260px;
  }

  .card-8>img {
      height: 40vh;
      width: 260px;
  }

  .card-9>img {
      height: 40vh;
      width: 260px;
  }

  .card-10>img {
      height: 40vh;
      width: 260px;
  }

  .card-21>img {
      height: 40vh;
      width: 260px;
  }

  .card-22>img {
      height: 40vh;
      width: 260px;
  }










  .card-a {
      height: 50vh;
      width: 300px;

       /* border: 1px solid black;   */
       padding: 10px;
      text-align: center;
  }

  

   .low {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(253, 248, 235, 0.897);



  } 

  .low1 {

      background-color: black;
      color: white;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
  }

  .foot-1 {
      background-color: black;
      color: white;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
  } 
 
  .foot-2 {
      background-color: black;
      color: white;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
  }

  .foot-3 {
      background-color: black;
      color: white;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
  }

  .foot-4 {
      background-color: black;
      color: white;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
  } 




  ul {
      margin-top: 30px;
      font-weight: 700;
  }

  ul a {
      display: block;
      font-size: 0.8rem;
      margin-top: 10px;
  }  


   