#l1{
    position: relative;
    top: 0rem;
    left:14%;
    }





#l2{
position: relative;
top: 0rem;
left:73%;
}

#l3{
    position: relative;
    top: 35rem;
    left:1%;
    }

    #l4{
        position: relative;
        top: 35rem;
        left:60%;
        }

        #l5{
            position: relative;
            top: 20rem;
            left:20%;
            }
