

#l2{
position: relative;
top: 25rem;
left:16.57%;
}

#l3{
    position: relative;
    top: 25rem;
    left:32%;
    }

    #l4{
        position: relative;
        top: 17rem;
        left:4%;
        }

        #l5{
            position: relative;
            top: 10rem;
            left:5%;
            }
